/* custom-tailwind.css */

/* Custom background colors */
.bg-custom-blue {
  background-color: #007bff;
}
/* Custom background image class */
/*.bg-custom-image {
  background-image: url();
  background-size: cover; /* Adjust as needed */
  /*background-position: center center; /* Adjust as needed */
  /* You can set additional background properties here, such as repeat, attachment, etc. */
}*/
/* Custom background image class for full-page background with transparency */
.bg-custom-full-page {
  background-image: url('slide 41.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* This makes the background fixed to the viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last) value for transparency */
  /* You can set additional background properties here as needed */
}
.bg-custom-green {
  background-color: #28a745;
}

/* Custom text colors */
.text-custom-yellow {
  color: #ffc107;
}

.text-custom-purple {
  color: #6f42c1;
}

/* Custom padding and margin classes */
.py-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.my-custom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Custom button styles */
.btn-custom {
  background-color: #ff5733;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* Custom border styles */
.border-custom {
  border: 2px solid #e0e0e0;
}

/* Custom shadow styles */
.shadow-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}