{% extends 'mogoon/base.html' %}

{% load static %}

<title>{% block title %}Cash Breakdown Create Table{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container-fluid text-right card bg-info card-dark mx-0 px-0 my-0 py-0">
    <h2 class="text-center bg-dark text-warning">Cash Breakdown Create</h2>
    <h3 class="text-center bg-dark text-warning">Create Table</h3>
    <div class="border p-3">
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{%url 'mogoon-cashBreakdown_update' %}">Add</a>
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{%url 'mogoon-cashBreakdown_total' %}">Cash
            Breakdown Total</a>
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{%url 'mogoon-cashBreakdown_create' %}">Cash
            Breakdown Create</a>
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'home' %}">Go To Home</a>
        <form action="" method="POST">
            {% csrf_token %}

        </form>

        <table class="table border=1 id=CashBreakdown align-middle text-warning bg-dark">


                <div class="container">
                    <div class="row">
                        <form action="{% url 'mogoon-cashBreakdown' %}" method="post">

                            {% csrf_token %}

                            <label for="amount">Amount</label>
                            <input type="text" name="amount" id="amount" class="form-control" placeholder="Enter amount">

                            <input type="submit" value="Submit" class="btn btn-warning bg-primary btn-info block-lg">
                        </form>
                    </div>
                </div>
            <h1>Results</h1>
            <table>
                <thead>
                <tr>
                    <th>Amount</th>
                    <th>1,000's</th>
                    <th>500's</th>
                    <th>200's</th>
                    <th>100's</th>
                    <th>50's</th>
                    <th>40's</th>
                    <th>20's</th>
                    <th>10's</th>
                    <th>5's</th>
                    <th>1's</th>
                </tr>
                </thead>
                <tbody>
                {% for row in results %}
                <tr>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.One_thousands }}</td>
                    <td>{{ row.Five_hundreds }}</td>
                    <td>{{ row.Two_hundreds }}</td>
                    <td>{{ row.One_hundreds }}</td>
                    <td>{{ row.Fifties }}</td>
                    <td>{{ row.Forties }}</td>
                    <td>{{ row.Twenties }}</td>
                    <td>{{ row.Tens }}</td>
                    <td>{{ row.Fives }}</td>
                    <td>{{ row.Ones }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'mogoon-cashBreakdown' %}">Return</a>

        </table>
    </div>
</div>

{% endblock  %}
