{% extends 'mogoon/base.html' %}

{% load static %}

{% include 'cashBreakdown/update.html' %}

{% include 'cashBreakdown/delete.html' %}


<title>{% block title %}Cash Breakdown Edit{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container-fluid text-right card bg-info card-dark mx-0 px-0 my-0 py-0">
    <h2 class="text-center bg-dark text-warning">Cash Breakdown</h2>
    <h3 class="text-center bg-dark text-warning">Cash Breakdown Edit</h3>
    <div class="border p-3">
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{%url 'mogoon-cashBreakdown_update' %}">Add</a>
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{%url 'mogoon-cashBreakdown' %}">Cash Breakdown Table</a>

        <form action="" method="POST">
            {% csrf_token %}

        </form>

         <table class="table border=1 id=CashBreakdown align-middle text-warning bg-dark">
            <tr>
                <th>Cash Breakdown Date</th>
                <th>Amount</th>
                <th>Thousands</th>
                <th>Five_hundreds</th>
                <th>Two_hundreds</th>
                <th>One_hundreds</th>
                <th>Fifties</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for note in cashBreakdown %}

            <tr>
                <td>{{note.cashBreakdown_date}}</td>
                <td>{{note.amount}}</td>
                <td>{{note.One_thousands}}</td>
                <td>{{note.Five_hundreds}}</td>
                <td>{{note.Two_hundreds}}</td>
                <td>{{note.One_hundreds}}</td>
                <td>{{note.Fifties}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info"
                       href="{% url 'cashBreakdown-update' note.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info"
                       href="{% url 'cashBreakdown-delete' note.id %}">Delete</a></td>
            </tr>
            {% endfor %}


            <tr>
                <th>Totals</th>
                <th>{{ amount.amount__sum }}</th>
                <th>{{ One_thousands_total }}</th>
                <th>{{ Five_hundreds_total }}</th>
                <th>{{ Two_hundreds_total }}</th>
                <th>{{ One_hundreds_total }}</th>
                <th>{{ Fifties_total }}</th>
            </tr>

        </table>
        <table class="table border=1 id=CashBreakdown align-middle text-warning bg-dark">
            <tr>
                <th>Cash Breakdown Date</th>
                <th>Amount</th>
                <th>Forties</th>
                <th>Twenties</th>
                <th>Tens</th>
                <th>Fives</th>
                <th>Ones</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for note in cashBreakdown %}
            <tr>
                <td>{{note.cashBreakdown_date}}</td>
                <td>{{note.amount}}</td>
                <td>{{note.Forties}}</td>
                <td>{{note.Twenties}}</td>
                <td>{{note.Tens}}</td>
                <td>{{note.Fives}}</td>
                <td>{{note.Ones}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info"
                       href="{% url 'cashBreakdown_edit-update' note.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info"
                       href="{% url 'cashBreakdown_edit-delete' note.id %}">Delete</a></td>
            </tr>

            {% endfor %}

            <tr>
                <th>Totals</th>
                <th>{{ amount.amount__sum }}</th>
                <th>{{ Forties_total }}</th>
                <th>{{ Twenties_total }}</th>
                <th>{{ Tens_total }}</th>
                <th>{{ Fives_total }}</th>
                <th>{{ Ones_total }}</th>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>{{amount.amount__sum}}</td>
                <td>{{Forties.Forties__sum}}</td>
                <td>{{Twenties_total}}</td>
                <td>{{Tens_total}}</td>
                <td>{{Fives_total}}</td>
                <td>{{Ones_total}}</td>
            </tr>
            <tr>
                <th>Grand Total</th>
                <th>{{grand_total}}</th>
            </tr>
        </table>
    </div>
</div>

{% endblock  %}