{% extends 'mogoon/base.html' %}

{% load static %}


{% block title %}Graphs{% endblock %}

{% block body %}
<!--top-->

<div class="container bg-secondary align-items-center  my-0 p-0 border" style=" border-radius: 20px;">
    <div class="container bg-light align-items-center my-0 p-0 border" style=" border-radius: 20px;">
        <div class="container bg-white text-secondary my-1 px-1 py-1 mx-1 border" style=" border-radius: 20px;">
            <h1 class="text-center bg-secondary text-light">Graphs</h1>
            <p class="h2 text-center"></p>
            <div class="row my-1">
                <div class="container">
                    <div class="card">
                        <div class="card-header bg-light text-dark">
                            Graphs
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter "" <i class="fa fa-television" aria-hidden="true"></i>
                                            </h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{{ 'http:/127.0.0.1:8000/admin/' }}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Recsources <i class="fa fa-leaf" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'reports-retrieve' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Go To Reports <i class="fa fa-leaf" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'reports-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Reports <i class="fa fa-leaf" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark" href="{% url 'employee-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Employees <i class="fa fa-bar-chart" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'green-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter GreenLeaf <i class="fa fa-television" aria-hidden="true"></i>
                                            </h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark" href="{% url 'purple-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter PurpleLeaf <i class="fa fa-binoculars" aria-hidden="true"></i>
                                            </h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'pruning-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Pruning <i class="fa fa-leaf" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'weeding-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Weeding <i class="fa-solid fa-paperclip"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'fertilizer-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Fertilizer <i class="fa fa-calendar-check-o"
                                                                    aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'milk-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Milk <i class="fa fa-leaf" aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class=" col-md-2">
                                    <a class="text-decoration-none text-dark"
                                       href="{% url 'vetcosts-details' %}">
                                        <div class="card my-card shadow text-center p-2">
                                            <h5>Enter Vetcosts <i class="fa fa-calendar-check-o"
                                                                  aria-hidden="true"></i></h5>
                                            <h4></h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="card">
                                    <div class="card-header bg-light text-dark">
                                        <h1>{{ name }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid fluid bg-white text-secondary my-0 px-0 mb-0 mt-0 border"
             style="border-radius: 20px;">
            <div class="row my-0">
                <div class="md-0">
                    <div class="container my-0 mx-0 mt-1">
                        <div class="row mt-0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body bg-secondary" style="border-radius: 10px;">
                                        <div class="row">
                                            <div class="row">
                                                {% for model_name, data_and_form in data_and_forms.items %}
                                                <div class="col-md-6">
                                                    <br>
                                                    <div class="container my-0 px-0 mb-0 mt-0 border"
                                                         style="border-radius: 10px;">
                                                        <div class="bg-white">
                                                            <canvas id="{{ model_name|lower }}Chart"
                                                                    style="height: 500px;"></canvas>
                                                            <br>
                                                            <script>
                                                                    // Ensure jQuery is noConflict mode to avoid conflicts
                                                                    jQuery.noConflict();

                                                                    jQuery(document).ready(function ($) {
                                                                        // Function to extract data from the table and generate charts
                                                                        function generateCharts() {
                                                                            var labels = [{% for data in data_and_form.data %}
                                                                                '{{ data.department }}',
                                                                                '{{ data.plucking_date }}',
                                                                                '{{ data.plucking_date }}',
                                                                                '{{ data.pruning_done }}',
                                                                                '{{ data.weeding_done }}',
                                                                                '{{ data.fertilizer_applied }}',
                                                                                '{{ data.milking_done }}',
                                                                                '{{ data.calf_down }}',
                                                                            {% endfor %}];

                                                                            var values1 = [{% for data in data_and_form.data %}
                                                                                {{ data.salary_total }},
                                                                                {{ data.green_today }},
                                                                                {{ data.purple_today }},
                                                                                {{ data.pruned_bushes }},
                                                                                {{ data.weeding_cost }},
                                                                                {{ data.fertilizer_amt }},
                                                                                {{ data.milk_today }},
                                                                                {{ data.vet_cost }},
                                                                            {% endfor %}];

                                                                            // Define different colors for each bar
                                                                            var backgroundColors = [
                                                                                'rgba(75, 192, 192, 1)',
                                                                                'rgba(255, 99, 132, 1)',
                                                                                'rgba(255, 205, 86, 1)',
                                                                                'rgba(54, 162, 235, 1)',
                                                                                'rgba(255, 199, 232, 1)',
                                                                                'rgba(255, 20, 86, 1)',
                                                                                'rgba(54, 62, 135, 1)',
                                                                                // Add more colors as needed
                                                                            ];

                                                                            var borderColors = [
                                                                                'rgba(75, 192, 192, 1)',
                                                                                'rgba(255, 99, 132, 1)',
                                                                                'rgba(255, 205, 86, 1)',
                                                                                'rgba(54, 162, 235, 1)',
                                                                                'rgba(255, 199, 232, 1)',
                                                                                'rgba(255, 20, 86, 1)',
                                                                                'rgba(54, 62, 135, 1)',
                                                                                // Add more colors as needed
                                                                            ];

                                                                            var values2 = [{% for data in data_and_form.data %}
                                                                                {{ data.salary_total }},
                                                                                {{ data.green_todate }},
                                                                                {{ data.purple_todte }},
                                                                                {{ data.pruned_bushes }},
                                                                                {{ data.weeding_cost }},
                                                                                {{ data.fertilizer_amt }},
                                                                                {{ data.milk_todate }},
                                                                                {{ data.total_vet_cost }},
                                                                                // Add more values for the second dataset
                                                                            {% endfor %}];

                                                                            // Chart.js configuration
                                                                            var ctx = document.getElementById('{{ model_name|lower }}Chart').getContext('2d');

                                                                            // Line chart configuration
                                                                            var lineChart = new Chart(ctx, {
                                                                                type: 'doughnut',
                                                                                data: {
                                                                                    labels: labels,
                                                                                    datasets: [{
                                                                                        label: '{{ model_name }}',
                                                                                        data: values1,
                                                                                        backgroundColor: backgroundColors,
                                                                                        borderColor: borderColors,
                                                                                        borderWidth: 1,
                                                                                        fill: false // Disable filling area under the line
                                                                                    }]
                                                                                },
                                                                                options: {
                                                                                    scales: {
                                                                                        y: {
                                                                                            beginAtZero: true
                                                                                        }
                                                                                    }
                                                                                }
                                                                            });

                                                                            // Bar chart configuration
                                                                            var barChart = new Chart(ctx, {
                                                                                type: 'radar',
                                                                                data: {
                                                                                    labels: labels,
                                                                                    datasets: [{
                                                                                        label: 'Second Dataset',
                                                                                        data: values2,
                                                                                        backgroundColor: backgroundColors,
                                                                                        borderColor: borderColors,
                                                                                        borderWidth: 1
                                                                                    }]
                                                                                },
                                                                                options: {
                                                                                    scales: {
                                                                                        y: {
                                                                                            beginAtZero: true
                                                                                        }
                                                                                    }
                                                                                }
                                                                            });
                                                                        }

                                                                        // Call the function to generate the charts
                                                                        generateCharts();
                                                                    });

                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!--                                                <div class="container">-->
                                        <!--                                                    <div class=" col-md-12">-->
                                        <!--                                                        <div class="col-md-6 text-danger">-->
                                        <!--                                                            <canvas id="image1"></canvas>-->
                                        <!--                                                            <div class="bg-secondary">-->
                                        <!--                                                                <br>-->
                                        <!--                                                                <h3 class="card card">Image</h3>-->
                                        <!--                                                                <img src="/static/images/slide 34.jpg/"-->
                                        <!--                                                                     class="w-100 H-45 "-->
                                        <!--                                                                     alt="..."/>-->
                                        <!--                                                            </div>-->
                                        <!--                                                        </div>-->
                                        <!--                                                        <div class="col-md-6 text-danger">-->
                                        <!--                                                            <canvas id="image2"></canvas>-->
                                        <!--                                                            <div class="bg-secondary">-->
                                        <!--                                                                <br>-->
                                        <!--                                                                <h3 class="card card">Image</h3>-->
                                        <!--                                                                <img src="/static/images/slide 2.jpg/"-->
                                        <!--                                                                     class="w-100 H-45 "-->
                                        <!--                                                                     alt="..."/>-->
                                        <!--                                                            </div>-->
                                        <!--                                                        </div>-->
                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<!--end-graphs>-->
{% endblock %}







