{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %}Update Milk Form{% endblock %}

{% block body %}

    <div class="col-lg-12 d-none d-lg-flex">
        <div class="container-fluid bg-info text-warning h-100 d-flex align-items-center justify-content-center" style="width: 80rem;">
            <div class="card card bg-dark text-right h-100 d-flex align-items-center justify-content-center m-3 p-3" style="width: 70rem;">
                <h2 class="text-center text-warning p-3">Update Milk Form</h2>
                <form action="{% url 'mogoon-milk_create' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}

                    <label for="formGroupExampleInput" class="form-label"><strong>Date of Milking</strong></label>
                    <input style="height:40px;width:700px" type="datetime-local" class="form-control"
                           id="formGroupExampleInput" placeholder="Date of Milking" name="milking_done">

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>Quantity Milked</strong></label>
                        <input style="height:40px;width:700px" class="form-control" id="formGroupExampleInput2"
                               placeholder="Quantity Milked"
                               name="milk_today">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>Quantity of Total Milk</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput3"
                               placeholder="Quantity of Total Milk" name="milk_todate" value="{{milk_todate.all_sum}}" readonly>
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>No. of Cows Milked</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput4"
                               placeholder="No. of Cows Milked" name="cows_milked" value="{{cows_milked.all_sum}}">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>No. of all Cows</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput5"
                               placeholder="No. of all Cows" name="cow_numbers" value="{{cow_numbers.all_sum}}">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>Mean of Milk</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput6"
                               placeholder="Mean of Milk" name="milking_average"
                               value="{{milking_average.milking_average}}">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>All Milk</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput7"
                               placeholder="All Milk" name="total_milk" value="{{total_milk.total_sum }}">
                    </div>


                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>Calf down Date</strong></label>
                        <input style="height:40px;width:700px" type="datetime-local" class="form-control" id="formGroupExampleInput8"
                               placeholder="Calf down Date" name="calf_down">
                    </div>

                       <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>Date Today</strong></label>
                        <input style="height:40px;width:700px" type="datetime-local" class="form-control" id="formGroupExampleInput9"
                               placeholder="Date Today" name="today"
                               value="">
                    </div>

                         <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>Calves age</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control" id="formGroupExampleInput10"
                               placeholder="Calves age" name="calf_age"
                               value="{{calf_age.calf_age}}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2"
                               class="form-label"><strong>No. of Calves</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control" id="formGroupExampleInput11"
                               placeholder="No. of Calves" name="calf_numbers" value="{{calf_numbers.calf_numbers}}">

                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput2" class="form-label"><strong>Cost Veterinary Service</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput12" placeholder="Cost Veterinary Service" name="vet_cost" value="{{vet_cost.all_sum }}">
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput2"
                                   class="form-label"><strong>Total cost of Veterinary Service </strong></label>
                            <input style="height:40px;width:700px" type="text" class="form-control" id="formGroupExampleInput13"
                                   placeholder="0" name="Total_vet_cost" value="{{Total_vet_cost.Total_cost}}">
                        </div>
                        <div class="container my-3">
                            <button class="btn btn-primary" type="submit" value="Update" name="update"
                                    typeof="hover">
                                Submit
                            </button>

                            <a class="btn btn-warning bg-success btn-info block-lg"
                               href="{% url 'mogoon-milk_table' %}">Return</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
  </div>


        {% endblock %}
