<nav class="navbar navbar-expand-lg navbar-dark"
     style=" background-color: rgba(13, 70, 10, 1);" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link active" href=""></a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'reports-retrieve' %}">Reports</a></li>

                <li class="nav-item"><a class="nav-link active" href=""></a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'employee-retrieve' %}">Staff List</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'green-retrieve' %}">Green Tea</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'purple-retrieve' %}">Purple Tea</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'pruning-retrieve' %}">Tea Pruning</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'weeding-retrieve' %}">Tea Weeding</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'milk-retrieve' %}">Milk</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'vetcosts-retrieve' %}">Vet Costs</a></li>

                <li class="nav-item"><a class="nav-link active" href="{% url 'fertilizer-retrieve' %}">Fertilizer
                </a></li>

                {% endif %}
            </ul>
        </div>
    </div>
    <div>
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}

            <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>

            {% else %}
             <li class="nav-item"><a class="nav-link active" href="{% url 'signup' %}">SignUp</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'password_reset' %}">ResetPassword</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'profile' %}">Profile</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

