{% extends 'mogoon/base.html' %}


{% load static %}

{% block title %}Update Purple Tea Form{% endblock %}

{% block body %}
<br>
    <div class="col-lg-12 d-none d-lg-flex">
        <div class="container-fluid bg-secondary text-light h-100 d-flex align-items-center justify-content-center" style="width: 80rem;">
            <div class="card card bg-dark text-right h-100 d-flex align-items-center justify-content-center m-3 p-3" style="width: 70rem;">
                        <h2 class="text-center text-light">Create Purple Tea Form</h2>
                  <a class="btn btn-light bg-secondary btn-info block-lg" style="width: 10rem;"
                                         href="{% url 'graph' %}">Go To Graphs</a>
                        <form action="{% url 'purple-create' %}" method="POST">
                            {% csrf_token %}

                            {{ form }}

                            <div class="col-sm col-sm">
                                <label for="formGroupExampleInput2" class="form-label"><strong>Purple Tea</strong></label>
                                <input style="height:40px;width:700px" type="text" class="form-control" id="formGroupExampleInput2"
                                     name="purple_data" value="Purple tea" readonly>


                                <label for="formGroupExampleInput" class="form-label"><strong>
                                    Date of Plucking</strong></label>
                                <input style="height:40px;width:700px" type="datetime-local" class="form-control"
                                       id="formGroupExampleInput" placeholder="Date of Plucking" name="plucking_date" value="plucking_date">

                                <div class="col-sm col-sm">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>Quantity
                                        Today</strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput3"
                                           placeholder="Quantity Today" name="purple_today" value="">
                                </div>
                                <div class="col-sm" hidden="true">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>Total Quantity</strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput4"
                                           placeholder="Total Quantity" name="purple_todate" value="{{purple_todate.all_sum}}"
                                           readonly>
                                </div>
                                <div class="col-sm col-sm">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>No. of Plucker
                                        </strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput5"
                                           placeholder="No. of Plucker" name="plucker_number"
                                           value="{{plucker_numbers.all_count}}">
                                </div>
                                 <div class="col-sm" hidden="true">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>Total No. of Pluckers
                                    </strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput6"
                                           placeholder="Total No. of Pluckers" name="total_pluckers"
                                           value="{{total_pluckers.pl_total}}" readonly>
                                </div>
                                <div class="col-sm" hidden="true">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>Mean Per Plucker
                                        </strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput7"
                                           placeholder="Mean Per Plucker" name="plucking_average"
                                           value="{{plucking_average|floatformat:2}}">
                                </div>
                                <div class="col-sm" hidden="true">
                                    <label for="formGroupExampleInput2" class="form-label"><strong>All Purple leaf
                                        </strong></label>
                                    <input style="height:40px;width:700px" type="text" class="form-control"
                                           id="formGroupExampleInput8"
                                           placeholder="All Purple leaf" name="total_purple"
                                           value="{{total_purple.total_sum}}">
                                </div>

                                <div class="container my-3">
                                    <button class="btn btn-primary" type="submit" value="Update" name="update"
                                            typeof="hover">Submit
                                    </button>
                                    <a class="btn btn-light bg-success btn-info block-lg"
                                       href="{% url 'purple-retrieve' %}">Return</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    </div>
{% endblock %}