{% extends 'mogoon/base.html' %}

{% include 'Purple/update.html' %}

{% include 'Purple/delete.html' %}

{% load static %}


<title>{% block title %}Purple Tea{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="row g-4 d-flex align-items-center">
    <div class="col-lg-12 d-none d-lg-flex">
        <div class="container-fluid text-right card bg-secondary card-dark mx-4 px-4 my-4 py-4">
            <h2 class="text-center bg-dark text-warning">Purple Tea</h2>
            <div class="border p-3">
                <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'mogoon-purple_update' %}">Add</a>
                <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'reports' %}">Go To Reports</a>
                <form action="" method="POST">
                    {% csrf_token %}

                </form>
                <table class="table id=Pupletea align-middle text-warning bg-dark">
                    <tr>
                        <th>Purple Data</th>
                        <th>Plucking Date</th>
                        <th>Purple Today</th>
                        <th>Purple Todate</th>
                        <th>Plucker Numbers</th>
                        <th>Total Pluckers</th>
                        <th>Plucking Average</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for data in purple_data %}

                    <tr>
                        <td>{{data.purple_data}}</td>
                        <td>{{data.plucking_date}}</td>
                        <td>{{data.purple_today}}</td>
                        <td>{{data.purple_todate}}</td>
                        <td>{{data.plucker_numbers}}</td>
                        <td>{{data.total_pluckers|add:data.plucker_numbers}}</td>
                        <td>{% widthratio data.purple_today data.plucker_numbers 1 %}</td>
                        <td>
                            <a class="btn btn-info btn-block bg-primary btn btn-info"
                               href="{% url 'purple-update' data.id %}">Edit</a></td>
                        <td>
                            <a class="btn btn-info btn-block bg-danger btn btn-info"
                               href="{% url 'purple-delete' data.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}

                    {% with total_purpletea=0 %}{% endwith %}
                    {% for data in purple_data %}
                    {% with total_purpletea=total_purpletea|add:data.purple_today %}
                    {% endwith %}
                    {% endfor %}
                    <tr>
                        <td>Total/Ave</td>
                        <td></td>
                        <td>{{ c_todate }}</td>
                        <td>{{ c_todate }}</td>
                        <td>{{ t_pluckers }}</td>
                        <td>{{ t_pluckers}}</td>
                        <td>{{ p_average|floatformat:2 }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}