{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %}Update Weeding{% endblock %}

{% block body %}
<div class="col-lg-12 d-none d-lg-flex">
    <div class="container-fluid bg-secondary text-light h-100 d-flex align-items-center justify-content-center"
         style="width: 80rem;">
        <div class="card card bg-dark text-right h-100 d-flex align-items-center justify-content-center m-3 p-3"
             style="width: 70rem;">
            <h2 class="text-center text-light">Create Weeding Jobs</h2>
            <h3>Weeding</h3>
            <a class="btn btn-light bg-secondary btn-info block-lg" style="width: 10rem;"
               href="{% url 'graph' %}">Go To Graphs</a>
            <form  action="{% url 'weeding-create' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="container">
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput6" class="form-label"><strong>Weeding
                            Date</strong></label>
                        <input style="height:40px;width:700px" type="datetime-local" class="form-control"
                               id="formGroupExampleInput6"
                               placeholder="Weeding Date" name="weeding_done">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput7"
                               class="form-label"><strong>Type of Chemical</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput7"
                               placeholder="Type of Chemical" name="chemical_name"
                               value="{{ form.chemical_name }}">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput8"
                               class="form-label"><strong>Block no</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput8"
                               placeholder="Block Weeded" name="block_no"
                               value="{{ form.block_no }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput10" class="form-label"><strong>Unit Cost
                            (Lit)</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput10"
                               placeholder="Unit Cost (Lit)" name="cost_per_lit"
                               value="{{ form.cost_per_lit }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput11"
                               class="form-label"><strong>Quantity of Chemical</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput11"
                               placeholder="Quantity of Chemical" name="weeding_chem_amt"
                               value="{{ form.weeding_chemical_amt }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput12"
                               class="form-label"><strong>Total Quantity</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput12"
                               placeholder="Total Quantity" name="total_chem_amt"
                               value="{{ form.total_chem_amt }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput13"
                               class="form-label"><strong>Labour Required</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput13"
                               placeholder="Labour Required" name="weeding_labour_number"
                               value="{{ form.weeding_labour_number }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput14" class="form-label"><strong>Total Labour
                            Required</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput14" placeholder="Total Labour Required"
                               name="total_weeding_labour_number"
                               value="{{ form.total_weeding_labour_number }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput15" class="form-label"><strong>Labour
                            cost</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput15" placeholder="Labour cost"
                               name="weeding_labour_rate"
                               value="{{ form.weeding_labour_rate }}">
                    </div>

                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput16"
                               class="form-label"><strong>Labour No</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput16"
                               placeholder="Labour No" name="weeding_labour"
                               value="{{ form.weeding_labour }}">
                    </div>
                    <div class="col-sm col-sm">
                        <label for="formGroupExampleInput17"
                               class="form-label"><strong>Cost of weeding</strong></label>
                        <input style="height:40px;width:700px" type="text" class="form-control"
                               id="formGroupExampleInput17"
                               placeholder="Cost of weeding" name="weeding_cost"
                               value="{{ form.weeding_cost }}">
                    </div>
                    <div class="container my-3">
                        <button class="btn btn-primary" type="submit" value="Update" name="update"
                                typeof="hover">Submit
                        </button>

                        <a class="btn btn-light bg-success btn-info block-lg"
                           href="{% url 'weeding-retrieve' %}">Return</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}