{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %} Reports {% endblock %}

{% block body %}



<div class="row g-4 d-flex align-items-center">
    <div class="col-lg-12 d-none d-lg-flex">
        <div class="container-fluid text-dark h-100 d-flex align-items-center justify-content-center"
             style="width: 100rem; border-radius: 10px;">
            <div class="card card bg-secondary text-left h-100 d-flex align-items-center justify-content-center m-3 p-3"
                 style="width: 100rem; border-radius: 10px;">
                <div class="container-fluid text-center card bg-light card-secondary mx-2 px-2 my-2 py-2">

                    <div class="justify-content-evenly align-items-center">
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'reports-details'%}">Add</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'graph' %}">Go To Graphs</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'employee-retrieve' %}">Go To Employee</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'green-retrieve' %}">Go To Green</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'purple-retrieve' %}">Go To Purple</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'pruning-retrieve' %}">Go To Pruning</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'weeding-retrieve' %}">Go To Weeding</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'milk-retrieve' %}">Go To Milk</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'vetcosts-retrieve' %}">Go To VetCosts</a>
                        <a class="btn btn-dark bg-secondary btn-info block-lg" style="width: 10rem;"
                           href="{% url 'fertilizer-retrieve' %}">Go To Fertilizer</a>
                        <h1 class="text-center bg-secondary text-light">View Reports</h1>
                        <p class="text-center bg-secondary text-light align-items-center"><strong><em> This is the reports
                            page </em></strong></p>
                    </div>
                    <br>
                    <div class="row">
                        {% for data in reports %}
                        <div class="col-lg-3">
                            <div class="box-element reports">
                                <div class="card text-center">
                                    <div class="card-header bg-secondary text-light" style="border-radius: 10px;">
                                        Reports for:{{ data.time_stamp }}
                                    </div>
                                    <div class="container">
                                        <td>
                                            <a class="btn btn-light btn-block bg-info text-dark btn btn-info"
                                               href="{% url 'reports-update' data.id %}">Edit</a>
                                            <a class="btn btn-light btn-block bg-warning text-dark btn btn-info"
                                               href="{% url 'reports-delete' data.id %}">Delete</a>
                                        </td>
                                    </div>
                                    <div>
                                        <div class="card-body bg-light " style="border-radius: 10px;">
                                            <div class="card text-bg-dark bg-dark col-lg-12 d-none d-lg-flex">
                                                {% if data.farm_image %}
                                                <img class="thumbnail" src="{{ data.farm_image.url }}" alt="Farm Image"
                                                     width="500">
                                                {% endif %}
<!--                                                <div class="card-img-overlay">-->
<!--                                                    <div class="card-header">-->
<!--                                                        <h5 class="card-title">Farm Images</h5>-->
<!--                                                        <p class="card-text">Put text on image here</p>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-dark bg-secondary" style="border-radius: 10px;">
                                        <p><strong>Daily Report:</strong></p>
                                        <div class="card-body bg-light">
                                            <blockquote class="blockquote p-2 mb-0">
                                                <p>
                                                    {{ data.daily_report }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <p><strong>Visitors Name:</strong></p>
                                        <div class="card-body bg-light">
                                            <blockquote class="blockquote p-2 mb-0">
                                                <p>
                                                    {{ data.visitors_name }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <p><strong>Comments:</strong></p>
                                        <div class="card-body bg-light">
                                            <blockquote class="blockquote p-2 mb-0">
                                                <p>
                                                    {{ data.visitor_comments }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <p><strong>Farm Report:</strong></p>
                                        <div class="card-body bg-light">
                                            <blockquote class="blockquote p-2 mb-0">
                                                <p>
                                                    {{ data.farm_report }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <p><strong>Farm Requirements:</strong></p>
                                        <div class="card-body bg-light">
                                            <blockquote class="blockquote p-2 mb-0">
                                                <p>
                                                    {{ data.farm_requirements }}
                                                </p>
                                            </blockquote>
                                        </div>
                                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                        <br><br>
                                        <footer class="blockquote-footer"><cite title="Source Title"></cite></footer>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
