{% extends 'mogoon/base.html' %}

{% load static %}

{% block title %} Reports {% endblock %}

{% block body %}


<style>
 div.img-wrap carousel-item {
     overflow:hidden;
     height:800px;
  }
  div.img-wrap img {
     width:auto;
     height: 800px;
  }


</style>

<div class="row g-4 d-flex align-items-center">
    <div class="col-lg-12 d-none d-lg-flex">
        <div class="container-fluid text-right card bg-dark card-dark mx-4 px-4 my-4 py-4">
                <h1 class="text-center ext-center bg-dark text-warning">Reports Page</h1>
                <p class="text-center ext-center bg-dark text-warning "><strong><em> This is the home page </em></strong></p>
                <a class="btn btn-warning bg-primary btn-info block-lg" style="width: 10rem;" href="{% url 'reports-update'%}">Add</a>
                <div class="alert alert-warning alert-dismissible fade show my=0 mb=0" role="alert">
                    <h1><strong>Welcome visitor!</strong></h1>
                    <h2>Are you here for the first time? </h2>
                    <h3>Click on the login or signin at the top right of the navbar.</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </div>

                {% for data in reports %}
                <div class="card">
                  <div class="card-header">
                    Reports
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>  {{ data.daily_report }}
                        {{ data.visitors_name }}
                        {{ data.visitor_comments }}
                        {{ data.farm_report }}
                        {{ data.farm_requirements }}
                        {{ data.time_stamp }}
                    </p>
                            <td>
                            <a class="btn btn-light btn-block bg-primary text-dark btn btn-info"
                               href="{% url 'reports-edit' data.id %}">Edit</a>
                            <a class="btn btn-light btn-block bg-danger text-dark btn btn-info"
                               href="{% url 'reports-delete' data.id %}">Delete</a>
                        </td>

                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>

              </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
